name: Tests and static checks

on:
  - push
  - workflow_dispatch

jobs:
  check:
    runs-on: ubuntu-latest
    env:
      # For pip, nox, and pytest.
      FORCE_COLOR: "true"
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Install Nox
        uses: wntrblm/nox@5a277b752f6094150e25237d47c34168e2b7526e # 2026.02.09, pinned by SHA for security.
      - name: Run tests and static checks
        run: nox
